body{

   .bg-primary {
        background-color: #444 !important;
    }
 
}

  body .light-theme  {
    padding-top: 1px;
    color: #222 !important;
    background-color: #FAF9F6;
    height: 100%;
    min-height: 100vh;

    .img-thumbnail {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      background-color: #777777;
    }
    .card {
      background-color: #FAF9F6;
    }

    .bg-primary{
      background-color: #375a7f !important;
    }

    .bg-secondary {
        background-color: #FAF9F6 !important;
    }

    .text-body{
      color: #222 !important  ;
    }

    .card-footer {
        background-color: #FAF9F6 !important;
    }

    .text-light{
      color: #FAF9F6 !important;
    }

    .nav-tabs .nav-link,
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link.active:focus,
    .nav-tabs .nav-link.active:hover,
    .nav-tabs .nav-item.open .nav-link,
    .nav-tabs .nav-item.open .nav-link:focus,
    .nav-tabs .nav-item.open .nav-link:hover,
    .nav-pills .nav-link,
    .nav-pills .nav-link.active,
    .nav-pills .nav-link.active:focus,
    .nav-pills .nav-link.active:hover,
    .nav-pills .nav-item.open .nav-link,
    .nav-pills .nav-item.open .nav-link:focus,
    .nav-pills .nav-item.open .nav-link:hover {
      color: #222222;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #375a7f !important;
        background-color:  #FAF9F6 ;
        border-color: #444 #444 transparent;
        
    }

    label{
      color: rgba(255, 255, 255, 0.6) !important;
    }

  
}

@media (max-width: 767.98px) {

  body .light-theme {
     .theme-button label.text-light{
      color: #222 !important;
  }
  }

   
}
